<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="offer">
            <h2><span>Offer</span> {{offer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{offer.description}}</span>
                </dd>
                <dt><span>Total Cost</span></dt>
                <dd>
                    <span>{{offer.totalCost}}</span>
                </dd>
                <dt><span>Room Amount</span></dt>
                <dd>
                    <span>{{offer.roomAmount}}</span>
                </dd>
                <dt><span>Size</span></dt>
                <dd>
                    <span>{{offer.size}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{offer.type}}</span>
                </dd>
                <dt><span>Construction Year</span></dt>
                <dd>
                    <span>{{offer.constructionYear}}</span>
                </dd>
                <dt><span>Pets</span></dt>
                <dd>
                    <span>{{offer.pets}}</span>
                </dd>
                <dt><span>Smoking Inside</span></dt>
                <dd>
                    <span>{{offer.smokingInside}}</span>
                </dd>
                <dt><span>Is Furnished</span></dt>
                <dd>
                    <span>{{offer.isFurnished}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{offer.user?.login}}
                </dd>

                <dd>
                    <ul *ngFor="let photo of offer.album?.onetomanies">

                        <li>
                            <img [src]="'data:' + photo.imageContentType + ';base64,' + photo.image" style="max-width: 100%;" alt="photo image"/>
                        </li>
                    </ul>

                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/offer', offer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
