<div>
    <h2 id="page-heading">
        <span>Offers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-offer"
                [routerLink]="['/offer/new-offer']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
            Create new Offer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>


    <div class="cards">
        <mat-card class="example-card" *ngFor="let offer of offers">

            <mat-card-header>
                <div mat-card-avatar class="example-header-image" *ngIf="!offer.user"
                     [ngStyle]="{'background-image': 'url(' + 'https://ui-avatars.com/api/?name=Jan+Kowalski' + ')'}"
                ></div>
                <div mat-card-avatar class="example-header-image" *ngIf="offer.user"
                     [ngStyle]="{'background-image': 'url(' + getCorrectURL(offer) + ')'}"
                ></div>
                <!--[ngStyle]="{'background-image': 'url(' + getCorrectURL(offer) + ')'}"></div>-->
                <mat-card-title *ngIf="!offer.user">Jan Kowalski</mat-card-title>
                <mat-card-subtitle *ngIf="!offer.address">ul. Leonarda 5, Lublin</mat-card-subtitle>
                <mat-card-title *ngIf="offer.user">{{offer.user.firstName}} {{offer.user.lastName}}</mat-card-title>
                <mat-card-subtitle *ngIf="offer.address">{{offer.address.street}}
                    , {{offer.address.city}}</mat-card-subtitle>
            </mat-card-header>
            <div class="offer-photo">
                <img mat-card-image src="https://s-ec.bstatic.com/images/hotel/max1024x768/735/73580604.jpg"
                     alt="Apartment" *ngIf="!offer.user">
                <img mat-card-image class="card-image-offer"
                     [src]="'data:' + offer.album.photos[0].imageContentType + ';base64,' + offer.album.photos[0].image"
                     style="max-width: 100%;"
                     alt="Apartment" *ngIf="offer.user">
            </div>
            <mat-card-content>

                <div class="text-wrapper">

                    <p>
                        <mat-icon class="list-element" svgIcon="info" aria-hidden="false"
                                  aria-label="area"></mat-icon>
                        {{offer.description}}</p>


                    <p>
                        <mat-icon class="list-element" svgIcon="money" aria-hidden="false"
                                  aria-label="money"></mat-icon>
                        {{offer.totalCost}} $
                    </p>


                    <p>
                        <mat-icon class="list-element" svgIcon="id" aria-hidden="false"
                                  aria-label="area"></mat-icon>
                        {{offer.id}}</p>
                    <mat-divider class="thin"></mat-divider>
                </div>
            </mat-card-content>

                <mat-card-actions>
                    <!--<a>-->
                    <!--<button mat-button class="card-button" [routerLink]="['/offer', offer.id, 'view' ]">show</button>-->
                    <!--</a>-->
                    <button type="submit"
                            [routerLink]="['/offer', offer.id, 'view' ]"
                            class="btn btn-info btn-sm">
                        <fa-icon [icon]="'eye'"></fa-icon>
                        <span class="d-none d-md-inline">View</span>
                    </button>
                    <!--<button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"-->
                    <!--[routerLink]="['/offer', offer.id, 'edit']"-->
                    <!--class="btn btn-primary btn-sm">-->
                    <!--<fa-icon [icon]="'pencil-alt'"></fa-icon>-->
                    <!--<span class="d-none d-md-inline">Edit</span>-->
                    <!--</button>-->
                    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                            [routerLink]="['/offer', offer.id, 'edit']"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span class="d-none d-md-inline">Edit</span>
                    </button>

                    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                            [routerLink]="['/', 'offer', { outlets: { popup: offer.id + '/delete'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-danger btn-sm">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline">Delete</span>
                    </button>
                </mat-card-actions>
        </mat-card>
    </div>


    <!--<div class="table-responsive" *ngIf="offers" >-->
    <!--<table  class="table table-striped">-->
    <!--<thead>-->
    <!--<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">-->
    <!--<th jhiSortBy="id"><span>ID</span>-->
    <!--<fa-icon [icon]="'sort'"></fa-icon>-->
    <!--</th>-->
    <!--<th jhiSortBy="description"><span>Description</span>-->
    <!--<fa-icon [icon]="'sort'"></fa-icon>-->
    <!--</th>-->
    <!--<th jhiSortBy="totalCost"><span>Total Cost</span>-->
    <!--<fa-icon [icon]="'sort'"></fa-icon>-->
    <!--</th>-->
    <!--<th jhiSortBy="roomAmount"><span>Room Amount</span>-->
    <!--<fa-icon [icon]="'sort'"></fa-icon>-->
    <!--</th>-->
    <!--<th jhiSortBy="size"><span>Size</span>-->
    <!--<fa-icon [icon]="'sort'"></fa-icon>-->
    <!--</th>-->
    <!--<th jhiSortBy="type"><span>Type</span>-->
    <!--<fa-icon [icon]="'sort'"></fa-icon>-->
    <!--</th>-->
    <!--<th jhiSortBy="constructionYear"><span>Construction Year</span>-->
    <!--<fa-icon [icon]="'sort'"></fa-icon>-->
    <!--</th>-->
    <!--<th jhiSortBy="pets"><span>Pets</span>-->
    <!--<fa-icon [icon]="'sort'"></fa-icon>-->
    <!--</th>-->
    <!--<th jhiSortBy="smokingInside"><span>Smoking Inside</span>-->
    <!--<fa-icon [icon]="'sort'"></fa-icon>-->
    <!--</th>-->
    <!--<th jhiSortBy="isFurnished"><span>Is Furnished</span>-->
    <!--<fa-icon [icon]="'sort'"></fa-icon>-->
    <!--</th>-->
    <!--<th jhiSortBy="user.login"><span>User</span>-->
    <!--<fa-icon [icon]="'sort'"></fa-icon>-->
    <!--</th>-->
    <!--<th></th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let offer of offers ;trackBy: trackId">-->
    <!--<td><a [routerLink]="['/offer', offer.id, 'view' ]">{{offer.id}}</a></td>-->
    <!--<td>{{offer.description}}</td>-->
    <!--<td>{{offer.totalCost}}</td>-->
    <!--<td>{{offer.roomAmount}}</td>-->
    <!--<td>{{offer.size}}</td>-->
    <!--<td>{{offer.type}}</td>-->
    <!--<td>{{offer.constructionYear}}</td>-->
    <!--<td>{{offer.pets}}</td>-->
    <!--<td>{{offer.smokingInside}}</td>-->
    <!--<td>{{offer.isFurnished}}</td>-->
    <!--<td>-->
    <!--{{offer.user?.login}}-->
    <!--</td>-->
    <!--<td class="text-right">-->
    <!--<div class="btn-group">-->
    <!--<button type="submit"-->
    <!--[routerLink]="['/offer', offer.id, 'view' ]"-->
    <!--class="btn btn-info btn-sm">-->
    <!--<fa-icon [icon]="'eye'"></fa-icon>-->
    <!--<span class="d-none d-md-inline">View</span>-->
    <!--</button>-->
    <!--<button type="submit"-->
    <!--[routerLink]="['/offer', offer.id, 'edit']"-->
    <!--class="btn btn-primary btn-sm">-->
    <!--<fa-icon [icon]="'pencil-alt'"></fa-icon>-->
    <!--<span class="d-none d-md-inline">Edit</span>-->
    <!--</button>-->
    <!--<button type="submit"-->
    <!--[routerLink]="['/', 'offer', { outlets: { popup: offer.id + '/delete'} }]"-->
    <!--replaceUrl="true"-->
    <!--queryParamsHandling="merge"-->
    <!--class="btn btn-danger btn-sm">-->
    <!--<fa-icon [icon]="'times'"></fa-icon>-->
    <!--<span class="d-none d-md-inline">Delete</span>-->
    <!--</button>-->
    <!--</div>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
    <div *ngIf="offers && offers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
