.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

.mat-card-header {
  padding-bottom: 10px;
}
.main-div {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-card {
  max-width: 350px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin: 30px 65px 35px 65px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
