<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div *ngIf="offer">
                <h2><span>Offer</span> {{offer.id}}</h2>
                <hr>
                <jhi-alert-error></jhi-alert-error>
                <dl class="row-md jh-entity-details">

                    <div class="row">

                        <div class="col-sm">
                            <div class="img-wrapper">

                                <mat-card class="img-card">

                                    <div class="img-wrapper">
                                        <button mat-button class="next-button" (click)="prevPhoto()">

                                            <mat-icon svgIcon="left" aria-hidden="false" aria-label="back"></mat-icon>

                                        </button>
                                        <img class="img-round"
                                             [src]="'data:' + currentPhoto.imageContentType + ';base64,' + currentPhoto.image"
                                             style="max-width: 100%;" alt="photo image"/>

                                        <button mat-button class="prev-button" (click)="nextPhoto()">
                                            <mat-icon svgIcon="right" aria-hidden="false"
                                                      aria-label="forward"></mat-icon>
                                        </button>

                                    </div>
                                    <mat-card-content class="card-content">

                                        <div class="text-wrapper">
                                            <mat-divider class="thin"></mat-divider>

                                            <div class="offer-content">
                                                <mat-icon class="list-element" svgIcon="date" aria-hidden="false"
                                                          aria-label="date"></mat-icon>

                                                {{offer.constructionYear}}

                                                <mat-icon class="list-element" svgIcon="money" aria-hidden="false"
                                                          aria-label="money"></mat-icon>

                                                {{offer.totalCost}}


                                                <mat-icon class="list-element" svgIcon="area" aria-hidden="false"
                                                          aria-label="area"></mat-icon>

                                                {{offer.size}} m2

                                                <mat-icon class="list-element" svgIcon="rooms" aria-hidden="false"
                                                          aria-label="rooms"></mat-icon>
                                                {{offer.roomAmount}}

                                            </div>

                                            <mat-divider class="thin"></mat-divider>
                                            <ng-template #no>
                                                <span>No</span>
                                            </ng-template>
                                        </div>
                                    </mat-card-content>


                                    <mat-card-actions>
                                        <button type="submit"
                                                (click)="previousState()"
                                                class="btn btn-info">
                                            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                                        </button>

                                        <button type="button" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                                [routerLink]="['/offer', offer.id, 'edit']"
                                                class="btn btn-primary">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                                        </button>
                                    </mat-card-actions>

                                </mat-card>


                            </div>
                        </div>


                    </div>

                </dl>


            </div>
        </div>
    </div>
</div>
