<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-offer-heading">Create or edit a Offer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!offer.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              formControlName="description"></textarea>
                    <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalCost">Total Cost</label>
                    <input type="number" class="form-control" name="totalCost" id="field_totalCost"
                           formControlName="totalCost"/>
                    <div *ngIf="editForm.get('totalCost').invalid && (editForm.get('totalCost').dirty || editForm.get('totalCost').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('totalCost').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('totalCost')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_roomAmount">Room Amount</label>
                    <input type="number" class="form-control" name="roomAmount" id="field_roomAmount"
                           formControlName="roomAmount"/>
                    <div *ngIf="editForm.get('roomAmount').invalid && (editForm.get('roomAmount').dirty || editForm.get('roomAmount').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('roomAmount').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('roomAmount')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_size">Size</label>
                    <input type="number" class="form-control" name="size" id="field_size"
                           formControlName="size"/>
                    <div *ngIf="editForm.get('size').invalid && (editForm.get('size').dirty || editForm.get('size').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('size').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('size')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_constructionYear">Construction Year</label>
                    <input type="number" class="form-control" name="constructionYear" id="field_constructionYear"
                           formControlName="constructionYear"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_pets">Pets</label>
                    <input type="checkbox" class="form-control" name="pets" id="field_pets"
                           formControlName="pets"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_smokingInside">Smoking Inside</label>
                    <input type="checkbox" class="form-control" name="smokingInside" id="field_smokingInside"
                           formControlName="smokingInside"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isFurnished">Is Furnished</label>
                    <input type="checkbox" class="form-control" name="isFurnished" id="field_isFurnished"
                           formControlName="isFurnished"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
