<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span>Address</span> {{address.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>City</span></dt>
                <dd>
                    <span>{{address.city}}</span>
                </dd>
                <dt><span>Zip Code</span></dt>
                <dd>
                    <span>{{address.zipCode}}</span>
                </dd>
                <dt><span>Street</span></dt>
                <dd>
                    <span>{{address.street}}</span>
                </dd>
                <dt><span>Flat Number</span></dt>
                <dd>
                    <span>{{address.flatNumber}}</span>
                </dd>
                <dt><span>Offer</span></dt>
                <dd>
                    <div *ngIf="address.offer">
                        <a [routerLink]="['/offer', address.offer?.id, 'view']">{{address.offer?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
