<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="message">
            <h2><span>Message</span> {{message.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{message.creationDate}}</span>
                </dd>
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{message.content}}</span>
                </dd>
                <dt><span>Is Seen</span></dt>
                <dd>
                    <span>{{message.isSeen}}</span>
                </dd>
                <dt><span>Conversation</span></dt>
                <dd>
                    <div *ngIf="message.conversation">
                        <a [routerLink]="['/conversation', message.conversation?.id, 'view']">{{message.conversation?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/message', message.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
