<div [ngSwitch]="isAuthenticated()">
    <h1 *ngSwitchCase="false" class="display-4">Flatter</h1>
    <h1 *ngSwitchCase="true" class="display-4">Top apartments recommended for you</h1>


    <div>

        <!--
        <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                > You are logged in as user "{{account.login}}". </span>
        </div>
        -->
        <div class="alert alert-warning" *ngSwitchCase="false">
            <span>You don't have an account yet?</span>&nbsp;
            <a class="alert-link" routerLink="register">Register a new account</a>
        </div>


        <div *ngSwitchCase="true">
            <mat-grid-list cols="3" rowHeight="5:3" [gutterSize]="'40px'">
                <mat-grid-tile>
                    <div class="container">
                        <img src="https://pmcvariety.files.wordpress.com/2018/07/bradybunchhouse_sc11.jpg">
                        <div class="bottom-left">
                            <h3>Lublin, Ochotnicza</h3>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="container">
                        <img src="https://pmcvariety.files.wordpress.com/2018/07/bradybunchhouse_sc11.jpg">
                        <div class="bottom-left">
                            <h3>Lublin, Ochotnicza</h3>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="container">
                        <img src="https://pmcvariety.files.wordpress.com/2018/07/bradybunchhouse_sc11.jpg">
                        <div class="bottom-left">
                            <h3>Lublin, Ochotnicza</h3>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>

        </div>
        <button mat-button *ngSwitchCase="false">hej</button>
    </div>

</div>
