<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="review">
            <h2><span>Review</span> {{review.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Rate</span></dt>
                <dd>
                    <span>{{review.rate}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{review.description}}</span>
                </dd>
                <dt><span>Issuer</span></dt>
                <dd>
                    {{review.issuer?.id}}
                </dd>
                <dt><span>Receiver</span></dt>
                <dd>
                    {{review.receiver?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/review', review.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
